<div class="taskItem "
     id="{{data.taskId}}"
     [style.borderColor]="data.color">
    <i class="material-icons button"
       (click)="onRemoveTask()">close</i>
    <input type="checkbox"
           [(ngModel)]="data.completed"
           (change)="onCompleted()">
    <span [(colorPicker)]="data.color"
          class="colorPicker"
          [style.background]="data.color"
          (colorPickerChange)="dataService.save()"
          [cpPresetColors]="['#0033FF', '#ff6347', '#FF00CC', '#adff2f', '#fff', '#000']"
          [cpPresetLabel]="''"></span>
    <div class="taskText {{data.completed ? 'completed' : ''}}"
         [hidden]="editing"
         (click)="startEdit(editBox)">
        {{data.text}}
    </div>
    <input [hidden]="!editing"
           #editBox
           [(ngModel)]="data.text"
           (keyup.enter)="finishEdit()"
           (blur)="finishEdit()">


</div>