:host {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background: tomato;
    display: flex;
    justify-content: center;
    padding: 20px;
}
input {
     background: transparent;
     border-radius: 2px;
     border:0;
     border-bottom: 2px solid #fff;
     padding: 0.5em;
     /* flex:0; */
     color: white;
     /* font-weight: 800; */
}
input::placeholder {
    color: #ddd;
}
/* input::-webkit-input-placeholder {
    color: white;
} */

/* input::-moz-placeholder {
    color: white;
} */

/* input:-ms-input-placeholder {
    color: white;
} */

/* input:-moz-placeholder {
    color: white;
} */

.lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* overflow: auto; */
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid grey;
    padding: 20px;
}
