<div class="list"
     id="{{data.listId}}">
    <div class="listHeader">
        <h4>{{data.name}}
            <button (click)="onRemoveList()">X</button>
        </h4>

    </div>
    <div class="addTask">
        <input type="text"
               [(ngModel)]="newTaskName"
               (keyup.enter)="onSaveNewTask()">
        <button (click)="onSaveNewTask()">add task</button>
    </div>
    <task-item [data]="taskItem"
               *ngFor="let taskItem of data.tasks"></task-item>
</div>
<!-- <pre>
  {{data | json}}
</pre> -->