<div class="list"
     id="listWraper-{{data.listId}}">
    <div class="listHeader">
        <div class="handle"><i class="material-icons">drag_handle</i></div>
        <i class="material-icons button"
           (click)="onRemoveList()">delete</i>

    </div>
    <h4>{{data.name}}</h4>
    <div class="taskItems"
         [id]="data.listId"
         [sortablejs]="data.tasks"
         [sortablejsOptions]="sortableOptions"
         >
        <div *ngFor="let taskItem of data.tasks" [id]="taskItem.taskId">
            <task-item [data]="taskItem"></task-item>
        </div>

    </div>
    <div class="addTask">
        <input type="text"
               [(ngModel)]="newTaskName"
               placeholder="Add task"
               (keyup.enter)="onSaveNewTask()">
        <i class="material-icons button"
 (click)="onSaveNewTask()">add</i>
    </div>
</div>