<div class="list"
     id="{{data.listId}}">
    <div class="listHeader">
        <h4>{{data.name}}
            <button (click)="onRemoveList()">X</button>
        </h4>

    </div>
    <div class="addTask">
        <input type="text"
               [(ngModel)]="newTaskName"
               (keyup.enter)="onSaveNewTask()">
        <button (click)="onSaveNewTask()">add task</button>
    </div>
    <pre>
        {{data.tasks | json}}
    </pre>
    <div class="taskItems"
        [sortablejs]="data.tasks">
        <div *ngFor="let taskItem of data.tasks">
            <task-item [data]="taskItem"></task-item>
        </div>

    </div>
</div>
<!-- 
<div mwlDraggable
     (dragEnd)="dragEnd($event)">Drag me!</div>
<div mwlDroppable
     (drop)="this.droppedData = $event.dropData">
    <span [hidden]="droppedData">Drop here</span>
    <span [hidden]="!droppedData">Item dropped here with data: "{{ droppedData }}"!</span>
</div> -->
<!-- <pre>
  {{data | json}}
</pre> -->